{% extends "base2.html" %}
{% block title %}Account{% endblock %}
{% block header %}<link href="{{ url_for('static', filename='styles/signin.css') }}" rel="stylesheet">{% endblock %}
{% block content %}
<main> 
    <div class="album py-5 bg-white">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{ url_for('static', filename='runi.PNG') }}" class="img-thumnail"  style="width:100%;">
              <div class="card-body">
                <p class="card-text">Rúni</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='torkil.PNG') }}" class="img-thumnail"  style="width:100%;">
              <div class="card-body">
                <p class="card-text">Torkil</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='jakup.PNG') }}" class="img-thumnail"  style="width:100%;">
              <div class="card-body">
                <p class="card-text">Jákup</p>
                
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='heidi.PNG') }}" class="img-thumnail"  style="width:100%;">
              <div class="card-body">
                <p class="card-text">Heidi</p>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
  <!--<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
{% endblock %}
