{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Account name</th>
            <th scope="col">Balance</th>
            <th scope="col">Max overdraw</th>
            <th scope="col">Account type</th>
        </tr>
    </thead>
    <tbody>
            {% for account in accounts %}
            <tr>
                <!--<th>{{ account[5] }}</th>
                <th><form method="POST" action="/account">
                    <input name="account_number" id="account_number" value="{{ account[0] }}" type="hidden">
                    <button type="submit">{{ account[4] }}</button></form></th>-->
                <th><form method="POST" action="/account">
                    <input name="account_number" id="account_number" value="{{ account[4] }}" type="hidden">
                    <button type="submit" class="btn btn-outline-primary">{{ account[5] }} ({{ account[4] }})</button></form></th>
                <th>{{ account[1] }}</th>
                <th>{{ account[2] }}</th>
                <th>{{ at[account[3]] if account[3] in at else account[3] }}</th>
            </tr>
            {% endfor %}
            {% if pal|length > 0 %}
            <thead>
                <tr>
                    <th scope="col">Account name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Account type</th>
                </tr>
            </thead>
            <tbody>
                {% for account in pal %}
            <tr>
                <th>{{ account[6] }} ({{ account[5] }})</th>
                <th>{{ account[7] }}</th>
                <th>{{ account[2] }}</th>
                <th>{{ at[account[4]] if account[4] in at else account[4] }}</th>
            </tr>
            {% endfor %}
        </tbody>
            {% endif %}
            {% if cal|length > 0 %}
            <thead>
                <tr>
                    <th scope="col">Account name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Account type</th>
                </tr>
            </thead>
            <tbody>
                {% for account in cal %}
            <tr>
                <th>{{ account[6] }} ({{ account[5] }})</th>
                <th>{{ account[7] }}</th>
                <th>{{ account[2] }}</th>
                <th>{{ at[account[4]] if account[4] in at else account[4] }}</th>
            </tr>
            {% endfor %}
        </tbody>
            {% endif %}
            </tbody>
        </table>
{% endblock %}