{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Account name: {{ account_info[5] }}</li>
        <li class="list-group-item">Account number: {{ (account_info[4]|string)[0:4] }}-{{ (account_info[4]|string)[4:] }}</li>
        <li class="list-group-item">Balance: {{ account_info[1] }}</li>
        <li class="list-group-item">Max overdraw: {{ account_info[2] }}</li>
        <li class="list-group-item">Account type: {{ account_info[3] }}</li>
        
      </ul>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">Amount</th>
            <th scope="col">Message</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <!--<th>{{ (t[1]|string)[0:4] }}-{{ (t[1]|string)[4:6] }}.{{ (t[1]|string)[6:9] }}.{{ (t[1]|string)[9:] }}</th>-->
            <th>{{ t[4] }} ({{ (t[0]|string)[0:4] }}-{{ (t[0]|string)[4:] }}) {% if t[5] == 'p' %}(Pending){% endif %}</th>
            <th>{{ t[3] }}</th>
            <th>{{ t[2] }}</th>
            <th>{{ t[1] }}</th>
        </tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}