<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <meta name="extended-by" content="Bólkur 3 - Databasur og SQL 2021 - Setrið">
    <title>Top navbar example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-static/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet">
<!--    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template 
    <link href="navbar-top.css" rel="stylesheet">
    -->
    <link href="{{ url_for('static', filename='styles/navbar-top.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/sticky-footer.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='styles/signin.css') }}" rel="stylesheet">-->
    
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="/transaction">Transfer</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>

<!--
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
</main>
-->

    <div id="content">{% block content %}{% endblock %}</div>
    <!--<div id="footer">
        {% block footer %}
        &copy; Copyright 2021 by Bólkur 3
        {% endblock %}
    </div>-->
    <!--
    <footer class="footer mt-auto py-3 bg-light navbar-fixed-bottom">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>-->

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <!--<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>-->

      
  </body>
</html>
