<html>
    <head>
        <title>Bankaskipan</title>
    </head>

    <body>
        test
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Zip</th>
            </tr>
            {% for client in clients %}
            <tr>
                <th>{{client[3]}}</th>
                <th><a href="/user">{{client[0]}} {{ "" if client[1] == None else client[1] }} {{client[2]}}</a></th>
                <th>{{client[4]}}</th>
            </tr>
            {% endfor %}
        </table>
    </body>
    </html>