{% extends "base.html" %}
{% block title %}Create client{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" action="/createclient2">
        <div style="text-align: center;">
        <table class="table">
            <tr>
                <th>First name:</th><th><input name="firstname" id="firstname" placeholder="Albus"></th>
            </tr>
            <tr>
                <th>Middle name:</th><th><input name="middlename" id="middlename" placeholder="Percival Wulfric Brian"></th>
            </tr>
            <tr>
                <th>Last name:</th><th><input name="lastname" id="lastname" placeholder="Dumbledore"></th>
            </tr>
            <tr>
                <th>Zipcode:</th><th><input name="zipcode" id="zipcode" placeholder="100"></th>
            </tr>
            <tr>
                <th>Birthday:</th><th><input name="bod" id="bod" placeholder="28-AUG-1881"></th>
            </tr>
            <tr>
                <th>P-tal:</th><th><input name="ptal" id="ptal" placeholder="280881-031"></th>
            </tr>
        </table>
        
        
        <button class="btn btn-primary">Send</button>
    </div>
    </form>
    </div>
{% endblock %}