<html>
    <head>
        <title>Creating an account</title>
    </head>

    <body>
        <table>
            <form method="POST" action="/createaccount2">
                <tr>
                    <th><label>Account name:</label><input name="accountname" id="accountname" placeholder="Lønarkonto"></th>
                </tr>
            <tr>
                <th><label>Account type: </label> <select name="accounttype" id="accounttype">
                    <option value="14">Credit</option>
                    <option value="15">Debit</option>
                    <option value="16">Other</option>
                </select></th>
            </tr>
            <tr>
                <th><label>Client: </label><select name="clientid2" id="clientid2">
                    {% for clientid in clientIds %}
                        <option value="{{clientid}}">{{clientid}}</option>"
                    {% endfor %}
                </select></th>
            </tr>
            <tr>
                <th><label>Max overdraft: </label><input name="overdraw" id="overdraw" placeholder="0"></th>
            </tr>
            <tr>
                <th><button>Submit</button></th>
            </tr>
            </form>
        </table>
        
    </body>
</html>