{% extends "base.html" %}


{% block content %}
        <!--<a href="transaction">Flyting</a>-->
        </form>
        <div class="container">
            <div class="row">
              <div class="col-16 col-md-3">
                <form method="GET">
                  <button class="btn btn-primary btn-lg" type="submit" formaction="/createaccount">Create account</button>
                 </form>
              </div>
              <div class="col-12 col-md-3">
                <form method="GET">
                  <button class="btn btn-primary btn-lg" type="submit" formaction="/withdraw">Withdraw</button>
                 </form>
              </div>
              <div class="col-12 col-md-3">
                <form method="GET">
                  <button class="btn btn-primary btn-lg" type="submit" formaction="/deposit">Deposit</button>
                 </form>
              </div>
              <div class="col-12 col-md-3">
                <form method="GET">
                  <button class="btn btn-primary btn-lg" type="submit" formaction="/createclient">Create client</button>
                 </form>
              </div>
            </div>
          </div>
          
        <table class="table" className="padding-table-columns">
            <colgroup>
                <col class="grey" />
                <col class="red"/>
                <col class="blue" />
              </colgroup>
            {% for name, accounts in allClients.items() %}
            <tr>
                <th>
                <h3>Name: {{ name }}</h3>
            </th>
            <tr>
                <th style="min-width:14em">Account name:</th>
                <th>Account number:</th>
                <th>Account balance:</th>
            </tr>
            <tr>
                {% for account in accounts %}
                <tr>
                    
                <th>{{ account[1] }}</th>
                <th>{{ account[2] }}</th>
                <th>{{ account[3] }}</th>
                <th><form method="POST" action="/account">
                    <input name="account_number" id="account_number" value="{{ account[2] }}" type="hidden">
                    <!--<button type="submit">{{ account[1] }} ({{ account[2] }})</button></form></th>-->
                    <button class="btn btn-outline-primary" type="submit">See account</button></form></th>
            </tr>
                {% endfor %}
            </tr>
            </tr>
            {% endfor %}
        </table>
        

{% endblock %}