{% extends "base2.html" %}
{% block title %}Account{% endblock %}
{% block header %}<link href="{{ url_for('static', filename='styles/signin.css') }}" rel="stylesheet">{% endblock %}
{% block content %}

<main class="form-signin">
  <div class="py-lg-5 text-center container">
  <form method="POST" action="/accounts">
    <img class="mb-4" src="{{ url_for('static', filename='Dogecoin_Logo.png')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="name" class="form-control" name="clientid" id="clientid" placeholder="clientid">
      <label for="floatingInput">Client ID</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
  </div>
</main>
{% endblock %}
