{% extends "base.html" %}
{% block content %}
<form method="POST" action="/trverify">
    <table>
        <tr>
            <th>From: <select name="accountfrom" id="accountfrom">
                {% for account in accounts %}
                <option value="{{account}}">{{account}}</option>
                {% endfor %}
            </select></th>
        </tr>
        <tr>
            <th>Account: <input name="accountto" id="accountto" placeholder="64604110000"></th>
        </tr>
        <tr>
            <th>Amount: <input name="amount" id="amount" placeholder="100"></th>
        </tr>
        <tr>
            <th>Message: <input name="message" id="message" placeholder="Eini boð"></th>
        </tr>
    </table>
    
    <button class="btn btn-primary">Send</button>
</form>

<!-- https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/ -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

{% endblock %}