{% extends "base.html" %}
{% block title %}Withdraw{% endblock %}
{% block content %}

<div class="container">
    <form method="POST" action="/withdraw-verify">
        <div style="text-align: center;">
        <table class="table">
            <tr>
                <th>Account:</th><th><input name="account" id="account" placeholder="64604110000"></th>
            </tr>
            <tr>
                <th>Amount:</th><th><input name="amount" id="amount" placeholder="100"></th>
            </tr>
            <tr>
                <th>Message:</th><th><input name="message" id="message" placeholder="Eini boð"></th>
            </tr>
        </table>
        
        
        <button class="btn btn-primary">Send</button>
    </div>
    </form>
    </div>

{% endblock %}